

.App {
  text-align: center;
  background: #282c34;

  h1{
    color: aliceblue;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nasa-card{
   border: 1px solid black;
  background: #282c34;
}
.nasa-card2{
  display:flex;
  justify-content: space-around;

  

}


.work {
  
  font-size: 1.2rem;
  font-weight: 600;
  color: #14171a
}



.ui.card {

  
  background: #6e95a33a !important;
  height: 55rem;
  width:22rem !important;
  margin-top: 1rem !important;
}
.ui.card .content .description{
font-size: 1.3rem;

}